 	<!-- xxx Breadcrumb Start xxx -->
<section>
    <div class="breadcrumb">
        <small>What we d</small>
        <h1>About Ruaha</h1>
    </div>
</section>
<!-- xxx Breadcrumb End xxx -->
<!-- xxx Body Content Start xxx -->
<section id="body-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="about-wrap">
                    <img src="images/about-us.png" alt="Slider Image">
                    <div class="blog-text">
                        <p>Integer at purus facilisis, rhoncus tellus sed, elementum nulla. In eleifend purus blandit purus bibendum, eu porttitor leo scelerisque. Integer velit sem, lacinia nec tellus a, molestie pulvinar risus. Praesent eget metus id metus lobortis dictum. Nulla id convallis ligula, id aliquet est. Fusce ac nulla placerat, posuere orci eu, tempor tortor. Phasellus vehicula odio lacus, non posuere libero tempor vel. Nam pellentesque erat ut urna vulputate, a eleifend dolor elementum. Ut porta magna eget ligula tincidunt, eget volutpat dolor iaculis. <br> <br></p>
                        <blockquote>
                            <p>Courage is not the absence of fear, but rather the judgement that something else is more important than fear.</p>
                            <footer><cite title="Source Title">Ambrose Redmoon</cite></footer>
                        </blockquote>
                        <p><img src="images/office-1.png" alt="Slider Image" class="alignleft img-thumbnail">Bacon ipsum dolor sit amet strip steak ham hock magna ball tip, leberkas est ut drumstick sed sunt frankfurter. Veniam doner turducken pariatur, enim ham hock bresaola short loin beef ribs. Bacon ipsum dolor sit amet strip steak ham hock magna ball tip, leberkas est ut drumstick sed sunt frankfurter.</p><p>  Bacon ipsum dolor sit amet strip steak. Veniam doner turducken pariatur, enim ham. Bacon ipsum dolor sit amet strip steak ham hock magna ball tip, leberkas est ut drumstick sed sunt frankfurter.</p>
                        <p>Veniam doner turducken pariatur, enim ham hock bresaola short loin beef ribs. Bacon ipsum dolor sit amet strip steak ham hock magna ball tip, leberkas est ut drumstick sed sunt frankfurter. Bacon ipsum dolor sit amet strip steak. Veniam doner turducken pariatur, enim ham. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, fugiat necessitatibus! Autem voluptate consequuntur magnam vel, quo, adipisci consectetur saepe?</p>
                    </div>
                </div>
                <br><br>
                <div class="sidebar-head ">Leave a Reply</div>
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <div id="sucessmessage"> </div>
                        </div>
                    </div>
                    <form action="#" method="post" id="contact_form" novalidate="novalidate">
                        <div class="col-sm-4">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                        </div>
                        <div class="col-sm-12">
                            <textarea name="comment" id="comment" class="form-control" rows="8" placeholder="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <p><button type="submit" class="form-btn">Contact us</button></p>
                            <p class="form-allowed-tags">
                                You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:
                                <br><code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code><br>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widgets-box">
                    <div class="sidebar-head"><span>Newsletter Signup</span></div>
                    <div class="sidebar-text">
                        <p>Sign up to receive latest updates with Ruaha Blog!</p>
                        <div class="newsletter-input">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Email Here">
                        </div>
                        <div class="newsletter-btn">
                            <button type="submit" class="btn-default">Send <i class="fa fa-check-circle"></i></button>
                        </div>
                    </div>
                </div>

                <div class="widgets-box">
                    <div class="sidebar-head"><span>Categories</span></div>
                    <div class="sidebar-text">
                        <ul class="category">
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Entertainment</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(10)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Sports</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(05)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Travel</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(15)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Lifestyle</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(25)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Jobs</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(105)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Movies</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(02)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Music</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(07)</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="widgets-box">
                    <div class="sidebar-head"><span>From Flickr</span></div>
                    <div class="sidebar-text">
                        <ul id="basicuse" class="photo-thumbs"></ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- xxx Body Content End xxx -->
<!-- xxx Body Content Start xxx -->
<section id="body-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-wrap">
                    <div id="map-holder">
                        <div id="map_extended">
                            <p>This will be replaced with the Google Map.</p>
                        </div>
                    </div>
                    <div class="blog-outer">
                        <h3>Say Hello! Its Free</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div>
                                    <div id="sucessmessage"> </div>
                                </div>
                            </div>
                            <form action="#" method="post" id="contact_form" novalidate="novalidate">
                                <div class="col-sm-4">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-sm-12">
                                    <textarea name="comment" id="comment" class="form-control" rows="8" placeholder="Message"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="form-btn">Contact us</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-sm-4">
                <div class="widgets-box">
                    <div class="sidebar-head"><span>Newsletter Signup</span></div>
                    <div class="sidebar-text">
                        <p>Sign up to receive latest updates with Ruaha Blog!</p>
                        <div class="newsletter-input">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Email Here">
                        </div>
                        <div class="newsletter-btn">
                            <button type="submit" class="btn-default">Send <i class="fa fa-check-circle"></i></button>
                        </div>
                    </div>
                </div>

                <div class="widgets-box">
                    <div class="sidebar-head"><span>Categories</span></div>
                    <div class="sidebar-text">
                        <ul class="category">
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Entertainment</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(10)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Sports</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(05)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Travel</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(15)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Lifestyle</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(25)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Jobs</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(105)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Movies</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(02)</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cat-desc">
                                    <div class="category-details">
                                        <span><a href="#">Music</a></span>
                                    </div>
                                    <div class="dots"></div>
                                    <div class="category-links">
                                        <span>(07)</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="widgets-box">
                    <div class="sidebar-head"><span>From Flickr</span></div>
                    <div class="sidebar-text">
                        <ul id="basicuse" class="photo-thumbs"></ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- xxx Body Content End xxx -->
<!-- xxx Footer xxx -->
<footer>
    <div class="widget-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer-dark">
                        <div class="text-footer">
                            <div class="footer-logo"><img src="images/logo.png" alt=""></div>
                            <div><a href="#">Ruaha Blog WordPress Theme</a> is a Minimal, elegant looking theme that is perfect for personal, corporate, business, travel blog, photography, fashion blogging and more. Built with <a target="_blank" href="http://getbootstrap.com/">Bootstrap 3.3.2 Framework</a>, it is totally responsive and easy to customize using tons of shortcodes. </div>

                            <div class="social-icons footer">
                                <ul>
                                    <li><a data-original-title="Twitter" title="" data-toggle="tooltip" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a data-original-title="Facebook" title="" data-toggle="tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a data-original-title="Pinterest" title="" data-toggle="tooltip" href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a data-original-title="Google Plus" title="" data-toggle="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6 col-sm-4">
                            <div class="sidebar-head"><span>Categories</span></div>
                            <ul class="category">
                                <li>
                                    <div class="cat-desc">
                                        <div class="category-details">
                                            <span><a href="#">Entertainment</a></span>
                                        </div>
                                        <div class="dots"></div>
                                        <div class="category-links">
                                            <span>(10)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-desc">
                                        <div class="category-details">
                                            <span><a href="#">Sports</a></span>
                                        </div>
                                        <div class="dots"></div>
                                        <div class="category-links">
                                            <span>(05)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-desc">
                                        <div class="category-details">
                                            <span><a href="#">Travel</a></span>
                                        </div>
                                        <div class="dots"></div>
                                        <div class="category-links">
                                            <span>(15)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-desc">
                                        <div class="category-details">
                                            <span><a href="#">Lifestyle</a></span>
                                        </div>
                                        <div class="dots"></div>
                                        <div class="category-links">
                                            <span>(25)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-desc">
                                        <div class="category-details">
                                            <span><a href="#">Jobs</a></span>
                                        </div>
                                        <div class="dots"></div>
                                        <div class="category-links">
                                            <span>(105)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-desc">
                                        <div class="category-details">
                                            <span><a href="#">Movies</a></span>
                                        </div>
                                        <div class="dots"></div>
                                        <div class="category-links">
                                            <span>(02)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-desc">
                                        <div class="category-details">
                                            <span><a href="#">Music</a></span>
                                        </div>
                                        <div class="dots"></div>
                                        <div class="category-links">
                                            <span>(07)</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-4">
                            <div class="sidebar-head"><span>Recent Comments</span></div>
                            <div class="">
                                <ul class="sidebar-post">
                                    <li>
                                        <div class="post-text">
                                            <h4><a href="#">Light House - The Beauty Of Paris</a></h4>
                                            <p>Nunc tristique tellus quam, id ultrices urna rhoncus non..</p>
                                            <div class="post-date">
                                                <i class="fa fa-clock-o"></i> 21 Sep, 2015
                                            </div>
                                            <div class="post-date">
                                                <a href="#"><i class="fa fa-comments-o"></i>15</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-text">
                                            <h4><a href="#">The Iconic View of Hiroshima, Japan</a></h4>
                                            <p>Nunc tristique tellus quam, id ultrices urna rhoncus non..</p>
                                            <div class="post-date">
                                                <i class="fa fa-clock-o"></i> 21 Sep, 2015
                                            </div>
                                            <div class="post-date">
                                                <a href="#"><i class="fa fa-comments-o"></i>15</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-inner">
        <div class="container text-center">
            <p><a href="#">Home</a> | <a href="#">About</a> | <a href="#">Archives</a> | <a href="#">Contact</a></p>
            <div>© 2015 - All Rights Reserved.</div>
        </div>
    </div>
</footer>
<!-- xxx Footer End xxx -->
<!-- xxx Back To Top xxx -->
<div id="back-top">
    <a class="img-circle" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>
